<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CashIn</title>
        
        <link rel="stylesheet" href="/css/page-landing.css">
        <link rel="stylesheet" href="/css/main.css">

        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@100;400;600;800&display=swap" rel="stylesheet">
    </head>
    <body>  
        <div id="page-landing">
            <div id="container">
                <header>

                    <div class="tittle">
                        <strong>CashIn</strong>
                    </div>

                    <div class='types'>
                        <strong id='tesouro'>Tesouro direto</strong>
                        <strong id='fixo'>Taxa fixa</strong>
                        <strong id='poupanca'>Poupança </strong>
                    </div>

                </header>
        
                <main>
                    <h1> A calculadora de juros compostos para o investido</h1>

                    <section class="visit">
                        <a id='github'href="https://github.com/eduardo443" target=blank title="Repository">
                            <img src="/images/github.svg" alt="Ir para o Repositorio"></a>

                        <a id='calc' href="/calculator" title="Calcule">
                            <img src="/images/arrow.svg" alt="Ir para o mapa"></a>
                    </section>

                    <h2>By Eduardo Hensel Batista</h2>

                </main>
            </div>
        </div>
    </body>
</html>